<!DOCTYPE html>
<html lang="es">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>DengueChatPlus</title>
  </head>
<body>
  <%= yield %>
</body>
</html>
